
<h2>Index</h2>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


@*<img src="@Url.Action("DrawChartwithHtmlHelper")" alt="Drawing chart with HTML Helper" />*@

<div id="chartdiv" style="width: 800px; height: 500px;">
</div>

<button id="btnSubmit"  >UservsUserReviews
</button>
 

<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    
  
        $(document).ready(function () {
            $.ajax(
                {
                    url: '/Home/OverallRatingChart',
                    type: 'get',
                    dataType: "json",

                    success: successFunc,
                    error: errorFunc
                });

            function successFunc(datachart) {

                // alert(datachart.star1);
                //var data = new google.visualization.DataTable();

                //// Declare columns
                //data.addColumn('string', 'Star');
                //data.addColumn('number', 'How much?');

                //// Add data.
                //data.addRows([
                //  ['Element', 'Density', { role: 'annotation' }],
                //  ['5*', datachart.star5, datachart.star5],                              // More typically this would be done using a
                //  ['4*', datachart.star4, datachart.star4],                           // formatter.
                //  ['3*', datachart.star3, datachart.star3],
                //  ['2*', datachart.star2, datachart.star2],
                //  ['1*', datachart.star1, datachart.star1]
                //]);

                var data = google.visualization.arrayToDataTable([
                ['Element', 'Density', { role: 'annotation' }],
                 ['5*', datachart.star5, datachart.star5],                              // More typically this would be done using a
                  ['4*', datachart.star4, datachart.star4],                           // formatter.
                  ['3*', datachart.star3, datachart.star3],
                 ['2*', datachart.star2, datachart.star2],
                 ['1*', datachart.star1, datachart.star1]
                ]);

                //var view = new google.visualization.DataView(data);


                var options = {
                    'title': 'Overview',
                    'width': 400,
                    'height': 300,
                    bar: { groupWidth: "15%" }
                };
                var chart = new google.visualization.BarChart(document.getElementById("chartdiv"));
                chart.draw(data, options);
            }

            function errorFunc() {
                alert('MVC controller call failed.');
            }
        });


    
        $('#btnSubmit').click(function () {
            $.ajax(
                {
                    url: '/Home/TotalUservsNoOfUserwhoGivesReviews',
                    type: 'get',
                    dataType: "json",

                    success: successFunc,
                    error: errorFunc
                });

            function successFunc(datachart) {

                // alert(datachart.star1);
                //var data = new google.visualization.DataTable();

                //// Declare columns
                //data.addColumn('string', 'Star');
                //data.addColumn('number', 'How much?');

                //// Add data.
                //data.addRows([
                //  ['Element', 'Density', { role: 'annotation' }],
                //  ['5*', datachart.star5, datachart.star5],                              // More typically this would be done using a
                //  ['4*', datachart.star4, datachart.star4],                           // formatter.
                //  ['3*', datachart.star3, datachart.star3],
                //  ['2*', datachart.star2, datachart.star2],
                //  ['1*', datachart.star1, datachart.star1]
                //]);

                var data = google.visualization.arrayToDataTable([
                ['Element', 'Density', { role: 'annotation' }],
                 ['#UserWhodoesNotGiveReviews', datachart.NoOfUserWhodoesNotGiveReviews, datachart.NoOfUserWhodoesNotGiveReviews],                              // More typically this would be done using a
                  ['#UserGivesReviews', datachart.NoOfUserGiveReviews, datachart.NoOfUserGiveReviews],                           // formatter.
                 ]);

                //var view = new google.visualization.DataView(data);


                var options = {
                    'title': 'Overview',
                    'width': 800,
                    'height': 400,
                    bar: { groupWidth: "15%" }
                };
                var chart = new google.visualization.PieChart(document.getElementById("chartdiv"));
                chart.draw(data, options);
            }

            function errorFunc() {
                alert('MVC controller call failed.');
            }
        });
    
</script>
